
*{
  margin: 12px 14px;
}

.header{
  margin: 0px 0px;
  height: 330px;
  text-decoration-color: white;
  background-color: white;
}

span {
  margin: 0px 6px;
      background: #94d7e5;
      color: rgb(251, 244, 244);
      padding: 8px 14px;
      border-radius: 5px;
      font-weight: bold;
      box-shadow: 0 0px 2px rgba(35, 21, 186, 0.2);
      transition: transform 0.1s;
    }

.footer{
    margin: 0px 0px;
    height: 400px;
    text-align: left;
    padding: 25px 20px;
    background-color: rgb(180, 209, 209);
}


.div1{
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: 50%;
    background-color: rgb(188, 217, 198);
    text-align: center;
    padding: 5px 5px;
}
.div2{
  margin: 40px;
  margin-left: 1px;
  margin-right: 1px;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.div3{
  color: white;
  background-color: rgb(76, 48, 236);
  text-align: center;
  margin-left:  290px;
  margin-right:  290px;

  font-family: sans-serif;
  font-size: 18px;
}

img{
   
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}